<%= render "shared/header" %>

<div class='main'>
  <%# カルーセル部分 %>
  <div id="carousel">
    <div class="carousel-wrapper">
      <div class='carousel-item' :key='target.id'>
        <img :src="target.src" alt=''>
      </div>
      <ol class='carousel-pager'>
        <li v-for='(bar, index) in bars' :key='bar.id'>
          <button
            tabindex='0'
            :class="{ 'isCurrent': index === selectedIndex }"
            @click='onClickPager(index)'
          ></button>
        </li>
      </ol>
    </div>
  <div>
  <%# /カルーセル部分  %>

  
  <%# 商品一覧 %>
  <div class='item-contents'>
    <h2 class='title'>ピックアップカテゴリー</h2>
    <% if @items != [] %>
      <% 10.times do |i| %>
        <% if @items[i] != [] %>
          <div class='category-contents'>
            <div class='category-title'>
              <h3><%= "#{@items[i][0].category.name}新着アイテム" %></h3>
              <%= link_to 'もっと見る ＞', category_path(@items[i][0].category_id) %>
            </div>
            <ul class='item-lists'>
              <%= render partial: 'item', collection: @items[i] %>
            </ul>
          </div>
        <% end %>
      <% end %>
    <% else %>
      <ul class='item-lists'>
        <li class='list'>
          <%= link_to '#' do %>
            <%= image_tag "https://tech-master.s3.amazonaws.com/uploads/curriculums/images/Rails1-4/sample.jpg", class: "item-img" %>
            <div class='item-info'>
              <h4 class='item-name'>
                商品を出品してね！
              </h4>
              <div class='item-price'>
                <span>99999999円<br>(税込み)</span>
                <div class='star-btn'>
                  <%= image_tag "star.png", class:"star-icon" %>
                  <span class='star-count'>0</span>
                </div>
              </div>
            </div>
          <% end %>
        </li>
      </ul>
    <% end %>
  </div>
  <%# /商品一覧 %>
</div>
<%# 出品ボタン %>
<%= link_to( new_item_path, class: 'purchase-btn') do %>
  <span class='purchase-btn-text'>出品する</span>
  <%= image_tag 'icon_camera.png' , size: '185x50' ,class: "purchase-btn-icon" %>
<% end %>
<%# /出品ボタン %>
<%= render "shared/footer" %>