<%= render "shared/header" %>

<div class='main'>
  <%# 画面上部の「人生を変えるフリマアプリ」帯部分 %>
  <div class='title-contents'>
    <h2 class='service-title'>
      人生を変えるフリマアプリ
    </h2>
    <p class='service-explain'>
      FURIMAはだれでもかんたんに出品・購入できる
    </p>
    <p class='service-explain'>
      フリマアプリです
    </p>
  </div>
  <%# /画面上部の「人生を変えるフリマアプリ」帯部分  %>

  

  <%# 画面中央の「会員数日本一位」帯部分 %>
  <div class='ad-contents'>
    <h2 class='ad-title'>
      会員数日本一位
    </h2>
    <p class='ad-explain'>
      FURIMAは、フリマアプリで最も人気。
    </p>
    <p class='ad-explain'>
      出品・購入回数も業界最多です！
    </p>
    <p class='ad-explain'>
      ほしかったあの商品に出会えるかもしれません。
    </p>
  </div>
  <%# /画面中央の「会員数日本一位」帯部分 %>

  
  <%# 商品一覧 %>
  <div class='item-contents'>
    <h2 class='title'>ピックアップカテゴリー</h2>
    <% if @items != [] %>
      <% 10.times do |i| %>
        <% if @items[i] != [] %>
          <div class='category-contents'>
            <div class='category-title'>
              <h3><%= "#{@items[i][0].category.name}新着アイテム" %></h3>
              <%= link_to 'もっと見る ＞', category_path(@items[i][0].category_id) %>
            </div>
            <ul class='item-lists'>
              <%= render partial: 'item', collection: @items[i] %>
            </ul>
          </div>
        <% end %>
      <% end %>
    <% else %>
      <ul class='item-lists'>
        <li class='list'>
          <%= link_to '#' do %>
            <%= image_tag "https://tech-master.s3.amazonaws.com/uploads/curriculums/images/Rails1-4/sample.jpg", class: "item-img" %>
            <div class='item-info'>
              <h4 class='item-name'>
                商品を出品してね！
              </h4>
              <div class='item-price'>
                <span>99999999円<br>(税込み)</span>
                <div class='star-btn'>
                  <%= image_tag "star.png", class:"star-icon" %>
                  <span class='star-count'>0</span>
                </div>
              </div>
            </div>
          <% end %>
        </li>
      </ul>
    <% end %>
  </div>
  <%# /商品一覧 %>
</div>
<%# 出品ボタン %>
<%= link_to( new_item_path, class: 'purchase-btn') do %>
  <span class='purchase-btn-text'>出品する</span>
  <%= image_tag 'icon_camera.png' , size: '185x50' ,class: "purchase-btn-icon" %>
<% end %>
<%# /出品ボタン %>
<%= render "shared/footer" %>